apps/NodeRedConfig/flows.json
[{"id":"a873c95e.113b08","type":"tab","label":"Flow 1"},{"id":"642eb28d.89f4ec","type":"tab","label":"Flow 2"},{"id":"1db6b534.90655b","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"75d8ee8.c99c21","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2bf3ad65.5e70f2","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"5bd85f40.cf3a7","type":"ui_group","z":"","name":"Realtime","tab":"2bf3ad65.5e70f2","disp":true,"width":"5"},{"id":"e797e096.c7176","type":"ui_group","z":"","name":"Alerts","tab":"2bf3ad65.5e70f2","order":2,"disp":true,"width":"5"},{"id":"3c237d48.887b92","type":"ui_group","z":"","name":"Controls","tab":"2bf3ad65.5e70f2","order":3,"disp":true,"width":"2"},{"id":"e7cf684d.257ed8","type":"mqtt in","z":"a873c95e.113b08","name":"","topic":"mqttSampleTopic","qos":"2","broker":"1db6b534.90655b","x":154,"y":113,"wires":[["216054fd.c97d1c"]]},{"id":"2069aaf4.665ed6","type":"debug","z":"a873c95e.113b08","name":"","active":true,"console":"false","complete":"payload","x":761,"y":106,"wires":[]},{"id":"ead1a54d.fb1a98","type":"ui_chart","z":"a873c95e.113b08","name":"","group":"5bd85f40.cf3a7","order":1,"width":0,"height":0,"label":"Flowrate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"200","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":526,"y":208,"wires":[[],[]]},{"id":"216054fd.c97d1c","type":"function","z":"a873c95e.113b08","name":"getFlowRate","func":"var correctedStr = msg.payload.replace(/'/g, '\"');\n//node.log(\"entry msg: \"+msg.payload+\", corrected = \"+correctedStr);\nvar msg2 = {};\nmsg2.payload = JSON.parse(correctedStr)[\"flow_rate\"];\nreturn msg2;","outputs":1,"noerr":0,"x":329,"y":167,"wires":[["ead1a54d.fb1a98","abb8f2b.6401a1","f38f0ae.5dcaff8"]]},{"id":"14c6e0b5.638a3f","type":"ui_gauge","z":"a873c95e.113b08","name":"","group":"e797e096.c7176","order":1,"width":0,"height":0,"gtype":"gage","title":"Theshold","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":546.5,"y":346,"wires":[]},{"id":"87087c18.ccc85","type":"mqtt in","z":"a873c95e.113b08","name":"","topic":"alerts","qos":"2","broker":"1db6b534.90655b","x":99.5,"y":281,"wires":[["b9b84260.3429c"]]},{"id":"e01eac09.0796","type":"ui_gauge","z":"a873c95e.113b08","name":"","group":"e797e096.c7176","order":2,"width":0,"height":0,"gtype":"gage","title":"MOTT","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":538.5,"y":459,"wires":[]},{"id":"aa4e3d0b.878e","type":"ui_gauge","z":"a873c95e.113b08","name":"","group":"e797e096.c7176","order":3,"width":0,"height":0,"gtype":"gage","title":"Signature","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":551.5,"y":610,"wires":[]},{"id":"2217a255.ff976e","type":"mqtt in","z":"a873c95e.113b08","name":"","topic":"mottAlerts","qos":"2","broker":"1db6b534.90655b","x":106.5,"y":412,"wires":[["a888ccd7.ac77e"]]},{"id":"13fffc2d.7f6a44","type":"mqtt in","z":"a873c95e.113b08","name":"","topic":"signatureAlerts","qos":"2","broker":"1db6b534.90655b","x":116.5,"y":535,"wires":[["3dc7b668.665f6a"]]},{"id":"c1f30d4d.873fe","type":"ui_button","z":"a873c95e.113b08","name":"","group":"3c237d48.887b92","order":1,"width":0,"height":0,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":360.5,"y":706,"wires":[["14c6e0b5.638a3f","e01eac09.0796","aa4e3d0b.878e"]]},{"id":"8627892.7487378","type":"mqtt out","z":"a873c95e.113b08","name":"alert","topic":"alerts","qos":"","retain":"","broker":"1db6b534.90655b","x":991.5,"y":311,"wires":[]},{"id":"e0da1a42.07a848","type":"ui_button","z":"a873c95e.113b08","name":"","group":"3c237d48.887b92","order":2,"width":0,"height":0,"label":"test_Thrsh","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":762.5,"y":314,"wires":[["8627892.7487378"]]},{"id":"3dbcfc39.1ab394","type":"mqtt out","z":"a873c95e.113b08","name":"","topic":"mottAlerts","qos":"","retain":"","broker":"1db6b534.90655b","x":1011.5,"y":414,"wires":[]},{"id":"136e93bd.bbe54c","type":"mqtt out","z":"a873c95e.113b08","name":"","topic":"signatureAlerts","qos":"","retain":"","broker":"1db6b534.90655b","x":1034.5,"y":518,"wires":[]},{"id":"c04e65e1.854338","type":"ui_button","z":"a873c95e.113b08","name":"","group":"3c237d48.887b92","order":3,"width":0,"height":0,"label":"test_MOTT","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":763.5,"y":409,"wires":[["3dbcfc39.1ab394"]]},{"id":"ebdc0080.ea4f1","type":"ui_button","z":"a873c95e.113b08","name":"","group":"3c237d48.887b92","order":4,"width":0,"height":0,"label":"test_Sign","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":748.5,"y":521,"wires":[["136e93bd.bbe54c"]]},{"id":"b9b84260.3429c","type":"function","z":"a873c95e.113b08","name":"alertFound","func":"var msg = {};\nmsg.payload = 1;\ncontext.set(\"alertValue\", 1);\nreturn msg;","outputs":1,"noerr":0,"x":322.5,"y":319,"wires":[["14c6e0b5.638a3f"]]},{"id":"a888ccd7.ac77e","type":"function","z":"a873c95e.113b08","name":"mottAlertFound","func":"var msg = {};\nmsg.payload = 1;\ncontext.set(\"mottValue\", 1);\nreturn msg;","outputs":1,"noerr":0,"x":328.5,"y":458,"wires":[["e01eac09.0796"]]},{"id":"3dc7b668.665f6a","type":"function","z":"a873c95e.113b08","name":"signatureAlertFound","func":"var msg = {};\nmsg.payload = 1;\ncontext.set(\"signatureValue\", 1);\nreturn msg;","outputs":1,"noerr":0,"x":331.5,"y":586,"wires":[["aa4e3d0b.878e"]]},{"id":"abb8f2b.6401a1","type":"function","z":"a873c95e.113b08","name":"getSumOfFlowRate","func":"var sumOfFlowRate = context.get(\"sumOfFlowRate\") || 0;\nsumOfFlowRate = sumOfFlowRate + msg.payload;\ncontext.set(\"sumOfFlowRate\", sumOfFlowRate);\nvar msg2 = {};\nmsg2.payload = sumOfFlowRate;\nreturn msg2;","outputs":1,"noerr":0,"x":434.5,"y":265,"wires":[["d2481073.2a637"]]},{"id":"d2481073.2a637","type":"ui_chart","z":"a873c95e.113b08","name":"","group":"5bd85f40.cf3a7","order":0,"width":0,"height":0,"label":"Volume","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"400","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":612.5,"y":284,"wires":[[],[]]},{"id":"f38f0ae.5dcaff8","type":"function","z":"a873c95e.113b08","name":"clearAlerts","func":"var msg2 = {};\nif (msg.payload == 0) {\n    msg2.payload = 0;\n    node.log(\"clearing alert; payload = \"+msg.payload);\n    return msg2;\n}\nelse {\n    // no need to clear, so end flow\n    return null;\n}","outputs":1,"noerr":0,"x":305.5,"y":382,"wires":[["14c6e0b5.638a3f","e01eac09.0796","aa4e3d0b.878e"]]}]